html {
  background-color: hsl(0, 0%, 88%);
  font-family: 'Commissioner', sans-serif;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input, input:active {
  width: 3rem;
  border: none;
  outline: none;
  font-weight: 700;
}

p {
  font-weight: 300;
  color: hsl(0, 0%, 48%);
}

.align-center {
  text-align: center;
}

.outline-top {
  border-top: solid 1px lightgrey;
}

.block {
  display:block!important;
}

.border-cyan {
  border: 1px solid hsl(176, 50%, 47%)!important;
}

.bookmarked {
  color: hsl(176, 50%, 47%);
}

.bookmarked-img-bg {
  filter: invert(62%) sepia(70%) saturate(335%) hue-rotate(127deg) brightness(85%) contrast(99%);
}

.circle {
  display: block;
  border: solid 1px hsl(176, 50%, 47%);
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.filled-circle {
  display: block;
  background-color:hsl(176, 50%, 47%);
  border: solid 1px hsl(176, 50%, 47%);
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  border-radius: 100%;
}

.card {
  border: 1px solid grey;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1.5rem;
}

.article-count {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.article-flex {
  display: flex;
  justify-content: flex-start;
}

.article-left {
  flex-grow: 0;
  flex-shrink: 0;
}

.card-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  position: relative;
  top: -4rem;
  padding: 0 1.5rem;
  max-width: 50rem;
  margin: auto;
}

.content-box {
  position: relative;
  background-color: white;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 5px;
  box-shadow:hsl(0, 0%, 29%);
  margin-bottom: 1rem;
  padding: 2.5rem;
}

.disabled {
  cursor: not-allowed;
}

.funding-bar {
  background: lightgrey;
  border-radius: 500px;
  overflow: hidden;
  margin: 1rem 0;
}

.funding-bar-funded {
  background-color: hsl(176, 50%, 47%);
  height: 1rem;
  width: 80%;
}

.funding-container {
  display: flex;
  justify-content: space-evenly;
}

.funding-item {
  text-align: center;
}

.funding-item-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.funding-item-subtitle {
  font-size: 1rem;
  color: gray;
}

.article-grid {
  display: grid;
  grid-template: 1fr 4fr / 2rem 1fr 4rem;
}

.article-selector {
  justify-self: center;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.article-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.article-desc {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.article-title .article-count {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.hero {
  background-image: url("./images/image-hero-desktop.jpg");
  height: 400px;
}

.inactive {
  opacity: 0.5;
}

.inline-block {
  display: inline-block;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 1;
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.5rem;
  width: 50%;
  border-radius: 0.5rem;
}

.show-modal {
  visibility: visible;
}

.close-button {
  float: right;
  font-size: 2rem;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.navbar-link-container {
  display: flex;
}

.navbar-item {
  padding: 1rem;
  text-decoration: none;
  color: white;
}

.no-margin {
  margin: 0;
}

.num-remaining {
  font-weight: 700;
  margin: 0 0.5rem 0 0;
}

.product-title {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.product-subtitle {
  color: gray;
  font-weight: 300;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.text-cyan {
  color:hsl(176, 50%, 47%);
}

.text-grey {
  color: grey;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-medium {
  font-size: 1.25rem;
}

.text-relaxed {
  line-height: 1.7rem;
}

.text-size-normal {
  font-size: 1rem;
}

.user-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  padding: 0 1.5rem;
  max-width: 60%;
  margin: auto;
}

.button {
  border-radius: 500px;
  font-weight: 500;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
}

.outline-button {
  border: solid 1px hsl(176, 50%, 47%);
}

.green-button {
  background-color: hsl(176, 50%, 47%);
  color: white;
  min-width: 7.6rem;
}

.green-button:hover {
  background-color: hsl(176, 72%, 40%);
  transition: background-color 0.2s;
  cursor: pointer;
}

.hamburger {
  display: none;
  height: 100%;
}



@media only screen and (max-width: 750px) {

  .funding-container {
    flex-wrap: wrap;
  }

  .funding-item {
    width: 100%;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 2.2rem;
    right: 2rem;
  }
  
  .hero {
    background-image: url("./images/image-hero-mobile.jpg")
  }

  .navbar {
    position: relative;
    display: block;
  }

  .navbar-link-container {
    display: none;
    background-color: #fff;
    border-radius: 5px;
  }

  .navbar-item {
    display: block;
    color: #000;
  }

  .modal-content {
    width: 80%;
    max-height: calc(100vh - 170px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
  }

  .trigger {
    margin-right: 1rem;
  }

  .user-controls {
    justify-content: center;
    padding: 0;
    max-width: 100%;
  }

  #bookmarkText {
    display: none;
  }

  #bookmark-button {
    background-color: transparent;
    height: 50px;
    width: 50px;
    padding: 0;
  }

  .grey-button-img {
    left: 0!important;
  }

  .article-grid {
    grid-template: 2rem 1fr 2rem / 2rem 1fr;
  }

  .article-selector {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .article-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .article-desc {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .article-flex {
    flex-wrap: wrap;
  }

  .article-flex span {
    display: block;
  }

  .article-count {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

}

@media only screen and (min-width: 751px) {
  .navbar-link-container {
    display: static;
  }
}


.grey-button {
  background-color: rgb(236, 236, 236);
  position: relative;
  z-index: 0;
  padding-left: 50px;
}

.grey-button:hover {
  background-color: rgb(225, 225, 225);
  transition: background-color 0.2s;
  cursor: pointer;
}

.grey-button-img {
  position: absolute;
  left: -0.7rem;
  top: 0rem;
}

.p-xs {
  padding: 1rem;
}

.p-s {
  padding: 1.5rem;
}

.pt-xs {
  padding-top: 1rem;
}

.mb-none {
  margin-bottom: 0;
}

.mr-small {
  margin-right: 1.5rem;
}

.mt-xs {
  margin-top: 1rem;
}

.mt-small {
  margin-top: 1.5rem;
}

.mt-medium {
  margin-top: 2.5rem; 
}

#product-header::before {
  position: absolute;
  top: -13%;
  left: 50%;
  transform: translateX(-50%);
  content: url(./images/logo-mastercraft.svg);
}

.thick-cyan-border {
  border: solid 3px hsl(176, 72%, 28%);
}

.hidden {
  display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}