html {
  background-color: hsl(0, 0%, 88%);
  font-family: 'Commissioner', sans-serif;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.card {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1.5rem;
}

.card-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  position: relative;
  top: -4rem;
  padding: 0 15rem;
}

.content-box {
  background-color: white;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 5px;
  box-shadow:hsl(0, 0%, 29%);
  margin-bottom: 1rem;
  padding: 1rem;
}

.disabled {
  cursor: not-allowed;
}

.funding-container {
  display: flex;
  justify-content: space-evenly;
}

.funding-item {
  text-align: center;
}

.funding-item-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.funding-item-subtitle {
  font-size: 1rem;
  color: gray;
}

.hero {
  background-image: url("./images/image-hero-desktop.jpg");
  height: 400px;
}

.inactive {
  opacity: 0.5;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 1;
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 30%;
  border-radius: 0.5rem;
}

.show-modal {
  visibility: visible;
}

.close-button {
  float: right;
  font-size: 2rem;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
}

.close-button:hover {
  background-color: darkgray;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
}

.navbar-link-container {
  display: flex;
  justify-content: flex-end;
}

.navbar-item {
  padding: 1rem;
  text-decoration: none;
  color: white;
}

.no-margin {
  margin: 0;
}

.num-remaining {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.product-title {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.product-subtitle {
  color: gray;
  font-weight: 300;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.text-cyan {
  color:hsl(176, 50%, 47%);
}

.text-grey {
  color: grey;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.user-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
  padding: 0 9rem;
}

.button {
  border-radius: 500px;
  font-weight: 500;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
}

.green-button {
  background-color: hsl(176, 50%, 47%);
  color: white;
}

.green-button:hover {
  background-color: hsl(176, 72%, 28%);
  transition: background-color 0.2s;
}

.grey-button {
  background-color: rgb(194, 194, 194);
  position: relative;
  z-index: 0;
  padding-left: 50px;
}

.grey-button-img {
  position: absolute;
  height: 100%;
  left: -0.4rem;
  top: 0rem;
}

.mt-small {
  margin-top: 1.5rem;
}

.mt-medium {
  margin-top: 2.5rem; 
}